.profile {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px 0px;
  box-shadow: 4px 4px 6px 3px rgba(173, 169, 169, 0.75);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    padding-bottom: 5px;
  }
}

.image {
  margin: 0 auto;
  overflow: hidden;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background-color: rgb(15, 14, 14);

  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.stats {
  background-color: #cecece;
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 25px;
  align-items: center;

  width: 100%;
  display: grid;
  border-top: 3px solid black;
  grid-template-columns: 1fr 1fr 1fr;

  .stats_li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 10px 0;
    overflow: hidden;
  }
}

.stats_li:first-child {
  border-right: 2px solid orange;
}

.stats_li:last-child {
  border-left: 2px solid orange;
}
